*{
margin:0;
font-family: 'Wix Madefor Display', sans-serif;
transition: all ease 0.2s;
}
button{
  height: 40px;
  border: none;
  border-radius: 7px;
  width: 250px;
  color: white;
}
body{
background-color: rgb(86, 94, 96);
display: flex;
flex-direction: column;
align-items: center;
}
.main_container{
width:100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 100vh;
}
.title_1{
font-size: 60px;
color:white;
font-weight: 500;
height: 5%;
}
.board{
display:grid;
grid-template-columns: repeat(3, 140px);
grid-template-rows: repeat(3, 140px);
row-gap: 15px;
column-gap: 15px;
width: auto;
max-width: 750px;
height: auto;
padding-top: 70px;
height: 80%;
position: relative;
z-index: 8;
}
.card{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: 'Poppins', sans-serif;
 font-weight: 900;
 font-size: 125px;
 border-radius: 15px;
 background-color: rgb(42, 61, 68);
 box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);
 cursor: pointer;
}
.piece_1{
    color: rgb(152, 106, 167);
}
.piece_2{
    color: rgb(255, 213, 0);
}
.counter{
 width:100%;
 height: 15%;
 background-color: rgb(60, 65, 67); 
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 min-height: 150px; 
}
.counter_item{
 width: 170px;
 height: 90px;
 border-radius: 13px;
 background-color: green;
 margin: 30px;
 font-family: 'Poppins', sans-serif;
 font-weight: 900;
 color:white;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 15px;
}
.counter_item p{
 margin:0;
 padding: 0;
 font-size: 90px;
 height: auto;
}
.active_turn{
  border: 3px solid rgb(0, 166, 255);  
}
.player_1{
    background-color: rgb(152, 106, 167);
}
.player_2{
    background-color: rgb(255, 213, 0);
}
.win_message{
display: hidden;
opacity: 0;
flex-direction: column;
align-items: center;
position:absolute;
top: 200px;
justify-content: center;
background-color: red;
width: 75%;
height: 20%;
margin: 30px 0;
z-index: 0;
transition: all ease-in 0.4s;
box-shadow: 6px 17px 0px 2px rgba(244, 153, 6, 1);
}
.win_message_show{
  display:flex;
  opacity: 1;
  z-index: 8;
}
.win_message>h2{
  color: white;
  font-size: 70px; 
}
#player_2_score, #player_1_score{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  width: 40%;
  height: 100%;
  background-color: #35b802;
  border-radius: 7px;
}
#next_round_button{
  background-color: #35b802;
}
#finish_button{
  background-color: #84c9f1;
}